include ./_components.jade

mixin content (typing)
	.content
		if (typing=="hello-honey")
			.content--logo
				img(src="img/kj-logo_2x.png", alt="")
			.content--title karol jan#[br]hello honey!
			.content--text Karol Jan Hello Honey! – цёмна-бурштынавае#[br]мядовае пiва з багатым смакам i лёгкай гарчынкай.
			.content--counters
				.content--counter Шчыльнасьць#[span 11,0%]
				.content--counter Алкаголь#[span 3,8%]
				.content--counter Горыч#[span 10 #[span IBU]]

			.content--desc
				p Спецыяльнае піва мае насычаны цёмна-бурштынавы колер. Крыху востры, кісла-салодкі смак утрымлівае мядовыя ноткі і лёгкую гарчынку ў посмаку. Асаблівы лагер перадае яркі водар карамелі. Цела піва лёгкае, пена прыемнага крэмавага адцення.
				p Зварана з дадаваннем араматызатара мядовага.

		if (typing == 'blonde')
			.content--logo
				img(src="img/kj-logo-red_2x.png", alt="")
			.content--title Karol Jan#[br]blonde
			.content--text Karol Jan Blonde – светлае піва ў бельгійскім стылі з&nbsp;тонкім соладавым водарам, лёгкай прыемнай гарчынкай і саладкаватым посмакам.
			.content--counters
				.content--counter Шчыльнасьць#[span 14,0%]
				.content--counter Алкаголь#[span 5,9%]
				.content--counter Горыч#[span 16 #[span IBU]]
			.content--desc
				p Смак піва сухі і насычаны, з ноткамі вострых прыпраў. У смаку прысутнічае мяккая хмелевая горыч і саладкаваты посмак. Пераважаюць соладавы і кветкава-фруктовы водары. Пена дробназярністая, шапка белага колеру, высокая ды шчыльная.
				p Вырабляецца са светлага соладу і некалькіх гатункаў нямецкага хмелю.

		if (typing== "ruby")
			.content--logo
				img(src="img/kj-logo_2x.png", alt="")
			.content--title karol jan#[br]ruby
			.content--text Karol Jan Ruby – фруктовае піва з лёгкім збалансаваным смакам і водарам спелай вішні.
			.content--counters
				.content--counter Шчыльнасьць#[span 13,0%]
				.content--counter Алкаголь#[span 4,6%]
				.content--counter Горыч#[span 16 #[span IBU]]
			.content--desc
				p Мае сочны рубінавы колер. Вядучай ноткай водару з’яўляецца вішня з ледзь адчувальным адценнем міндаля і фруктаў. Посмак даўкі і вязкі, з ледзь адчувальнай горыччу. Пена стойкая, дробназярністая, з ружовым адлівам.
				p Вырабляецца з дадаваннем натуральнага соку вішні і соладавага экстракту Ruby.

		if (typing=="hello-honey-tagged")
			.content-tag Сіла вішнёвага прыцягнення
			.content--title Karol Jan Ruby
			.content--text Karol Jan Ruby&nbsp;&mdash; фруктовае піва з лёгкім збалансаваным смакам і водарам спелай вішні
			.content--counters
				.content--counter Шчыльнасьць#[span 13,0%]
				.content--counter Алкаголь#[span 4,5%]
				.content--counter Горыч#[span 16 #[span IBU]]

			.content--desc
				p Мае сочны рубінавы колер. Вядучай ноткай водару з’яўляецца вішня з ледзь адчувальным адценнем міндаля і фруктаў. Адрозніваецца прыемным абвалакальным смакам з яркім зрушэннем у бок вішні. Посмак даўкі і вязкі, з ледзь адчувальнай горыччу. Пена стойкая, дробназярністая, з ружовым адлівам.
				p Вырабляецца з дадаваннем натуральнага соку вішні і соладавага экстракту Ruby. 
doctype html
html(lang="be")
	+head ('ПIВА З АДМЕТНЫМ ХАРАКТАРАМ')

	body
		.page.in
			+socials
			.greeting-popup.active
				.greeting-popup-body
					.greeting-popup-title Натхненне#[br]асаблівых&nbsp;смакаў!
					.greeting-popup-text Karol Jan – лінейка асаблівых гатункаў піва, натхнёная незвычайнымі падзеямі жыцця мінскага дзеяча Караля Яна Чапскага, мэра горада і ўладальніка піваварнага завода «Багемія», на сённяшні дзень «Аліварыя».
					.greeting-popup-button далей

			.intro-mobile.visible-xs.visible-sm


			.page-wrap.hidden-xs.hidden-sm.page-wrap_hello-honey
				.page-unit.active.page-unit_hello-honey
					.page-unit-gb
						.page-unit-bottle
							img(src="img/hello-honey-bottle.png" alt="")
						.info.is-l1
							.info--circle
							.info--box
								.info--box--close.round-hh
								.info--photo.is-men.round-hh: img(src="img/karol_jan_2x.png" alt="")
								.info--text
									p Легендарны кіраўнік горада Караль Ян Чапскі вядомы сваёй неардынарнасцю і цягай да новага. Пры ім Мінск стаў прасунутым еўрапейскім горадам з тэлефонам, трамваем, электрастанцыяй, броварам.
									p Яркая дзейнасць Караля Яна Чапскага натхніла нашых півавараў на стварэнне лінейкі піва з асаблівымі смакамі і незвычайнымі спалучэннямі. Таму ў кожным гатунку лінейкі можна адчуць прысмак неардынарнай падзеі з&nbsp;жыцця бізнесмена.

						.page-unit-glass
							img(src="img/hello-honey-glass-sh.png" alt="")
						.info.is-l2
							.info--circle
							.info--box.is-fw
								.info--box--close.round-hh
								.info--text
									p Падавайце Karol Jan Hello Honey у куфлі пры тэмпературы 8–10°С. Цёмна-бурштынавае піва спалучаецца з усімі відамі сыроў, ад вострых і рэзкіх да мяккіх сметанковых. Цудоўна падыдуць і&nbsp;салаты з агародніны. А па-асабліваму раскрыць смак дапамагаюць чырвонае мяса, а таксама рыбныя стравы міжземнаморскай кухні. 
									img(src="img/popup-icons_hello-honey_2x.png" alt="")

						.page-unit-newTag
							img(src="img/new-stamp_2x.png" alt="")
								
					.page-unit-content.page-unit-content_hello-honey
						+content ("hello-honey")
					


				.page-unit.page-unit_blonde
					.page-unit-gb
						.page-unit-bottle
							img(src="img/blonde-bottle.png" alt="")
						.info.is-l1
							.info--circle
							.info--box
								.info--box--close.round-blonde
								.info--photo.is-men.round-blonde: img(src="img/karol_jan_2x.png" alt="")
								.info--text
									p Легендарны кіраўнік горада Караль Ян Чапскі вядомы сваёй неардынарнасцю і цягай да новага. Пры ім Мінск стаў прасунутым еўрапейскім горадам з тэлефонам, трамваем, электрастанцыяй, броварам.
									p Яркая дзейнасць Караля Яна Чапскага натхніла нашых півавараў на стварэнне лінейкі піва з асаблівымі смакамі і незвычайнымі спалучэннямі. Таму ў кожным гатунку лінейкі можна адчуць прысмак неардынарнай падзеі з&nbsp;жыцця бізнесмена.

						.page-unit-glass
							img(src="img/blonde-glass-sh.png" alt="")
						.info.is-l2
							.info--circle
							.info--box.is-fw
								.info--box--close.round-blonde
								.info--text
									p Падавайце Karol Jan Blondе пры тэмпературы 6–8°C у куфлі тыпу «цюльпан». Гатунак спалучаецца з лёгкімі закускамі: куранём, смажанымі каўбаскамі, лістамі салаты, ласосем, паўцвёрдым сырам. Да Karol Jan Blondе гэтаксама падыходзяць дэсерты: абрыкосавы альбо мандарынавы пірог, лімонны тарт з заварным крэмам.
									img(src="img/popup-icons_blonde_2x.png" alt="")
								
					.page-unit-content.page-unit-content_blonde
						+content ("blonde")



				.page-unit.page-unit_ruby
					.page-unit-gb
						.page-unit-bottle
							img(src="img/ruby-bottle.png" alt="")
						.info.is-l1
							.info--circle
							.info--box
								.info--box--close.round-ruby
								.info--photo.is-men.round-ruby: img(src="img/karol_jan_2x.png" alt="")
								.info--text
									p Легендарны кіраўнік горада Караль Ян&nbsp;Чапскі вядомы з&nbsp;таго, што пры ім Мінск стаўся прасунутым еўрапейскім горадам з&nbsp;тэлефонам, трамваем, электрастанцыяй, броварам. Як&nbsp;вядома, Чапскі шмат падарожнічаў ды&nbsp;&laquo;прывозіў&raquo; Еўропу дадому.
									p Аддаючы належнае аднаму са&nbsp;сваіх заснавальнікаў, &laquo;Аліварыя&raquo; запусціла ў Беларусі прэміяльную лінейку еўрапейскага піва. Нашы півавары, натхніўшыся асобай заснавальніка бровара і лепшым еўрапейскім півам, зварылі два новыя гатункі.

						.page-unit-glass
							img(src="img/ruby-glass-sh.png" alt="")
						.info.is-l2
							.info--circle
							.info--box.is-fw
								.info--box--close.round-ruby
								.info--text
									p Падавайце Karol Jan Ruby у куфлі «шаліс» пры тэмпературы 8–10°С. Фруктовы гатунак спалучаецца з усёй разнастайнасцю сыроў:#[br]ад вострых і рэзкіх да мяккіх сметанковых. Цудоўна падыдуць стравы з рыбы і морапрадуктаў, а таксама салаты з агародніны. Раскрыюць смак i фруктовыя дэсерты на аснове вішні.
									img(src="img/popup-icons_ruby_2x.png" alt="")

					.page-unit-content.page-unit-content_ruby
						+content ("ruby")

				
			.warning: .warning--in
		+ga