include ./_components.jade

doctype html
html
	+head ('ПIВА З АДМЕТНЫМ ХАРАКТАРАМ')

	body
		.page.is-age
			+socials

			.logotype

			.page--title Вам больш за 18&nbsp;год?
			.page--btns.page--btns_age #[a(href="in.html") Так]#[a(href="http://google.by/") Не]

			.hidden-xs.hidden-sm
				

			.warning: .warning--in

		+ga