include ./_components.jade

doctype html
html(lang="be")
	+head ('ПIВА З АДМЕТНЫМ ХАРАКТАРАМ')

	body
		.page.is-age

			.page--title Вам больш за&nbsp;18&nbsp;год?
			.page--btns.page--btns_age #[a(href="in.html") так]#[a(href="http://google.by/") не]

			.hidden-xs.hidden-sm

		+ga