@import "_mixins.less";
@import "_reset.less";
@import "_fonts.less";
@import "_colors.less";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic');
// --------

	@screen-xs-max: 767px;

	@screen-sm-min: 768px;
	@screen-sm-max: 1023px;

	@screen-md-min: 1024px;
	@screen-md-max: 1599px;

	@screen-lg-min: 1600px;

	@screen-height-max: 949px;

	@media-xs-only: ~"(max-width: @{screen-xs-max})";

	@media-sm: ~"(min-width: @{screen-sm-min})";
	@media-sm-only: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";

	@media-xs-sm: ~"(max-width: @{screen-sm-max})";

	@media-md: ~"(min-width: @{screen-md-min})";
	@media-md-only: ~"(min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";

	@media-xs-md: ~"(max-width: @{screen-md-max})";
	@media-sm-md: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-md-max})";

	@media-lg: ~"(min-width: @{screen-lg-min})";

	@media-height: ~"(max-height: @{screen-height-max})";

// --------

html { min-width: 320px;
	.size (auto, 100%);
}

body {
	font: normal normal 14px/20px 'Roboto Slab', arial, sans-serif;
	background: @white;
	color: @black;

	-webkit-text-size-adjust: 100%;
	overflow: hidden;
	.font-smoothing (antialiased);
	.box-sizing (border-box);
	.min-size (320px);
	.position (relative);
	.size (auto, 100%);

	input, textarea, button { font-family: 'Roboto Slab', arial, sans-serif; }
	*, *:before, *:after { .box-sizing (border-box); }
}

.left { float: left; }
.right { float: right; }
.clearfix { *zoom: 1;
	&:after { clear: both; }
	&:before, &:after { content: " ";
		.display (table);
	}
}

// --------

.page { overflow: hidden;
	.size (auto, 100%);
	.min-size (initial, 650px);
	.position (relative);
	@media(max-height: 850px) and (min-width:1024px){
		.min-size (initial, 650px);
	}
	@media @media-xs-sm { &:not(.is-age){ 
		background: url('../img/bg_hello_honey_2x.png') left center no-repeat;
		background-size: cover;
	}
		.position (relative);
	}

	&--title {
		font-family: 'Yanone Kaffeesatz Bold';
		text-transform: uppercase;
		letter-spacing: 1.23px;
		text-align: center;
		color: @brown;
		pointer-events: none;
		z-index: 100;
		will-change: opacity, transform;

		.font (40px, 1, 700);
		.transition (1.5s all ease);

		@media @media-xs-sm {
			padding: 0 20px;
			margin: 0 0 23px;

			.position (relative);
			.font (34px, 41px);
		}
	}

	&--text {
		color: @brown;
		text-align: center;
		pointer-events: none;
		margin: 0 0 0 -19vw;
		z-index: 100;
		will-change: opacity, transform;

		.position-tl (absolute, 396px, 50%);
		.font (23px, 30px);
		.size (38vw);
		.transition (1.5s all ease);

		@media @media-xs-sm {
			margin: 0 auto 35px;
			padding: 0 20px;

			.position (relative);
			.size (auto);
			.font (20px, 30px);
			.max-size (670px);
		}

		@media @media-md-only {
			top: 376px;

			.font (20px, 28px);
		}
	}

	&--btns {
		z-index: 100;
		will-change: opacity, transform;

		.transition (1.5s all ease);

		@media @media-xs-sm {
			margin: 0 auto;
			padding: 0 20px;

			.position (relative);
			.size (auto);
			.max-size (380px);
		}
		
		a {
			border: 2px solid #d4ae67;
			text-align: center;
			text-decoration: none;
			color: #d4ae67;
			padding: 9px 0 11px;

			.size (140px);
			.display (block);
			.font (33px, 34px, 700);
			.transition (300ms all ease);

			@media @media-xs-sm {
				.size (auto);
			}

			&:nth-child(2) {
				&:hover {
					background: #d4ae67;
					color: #c95518;
				}

				@media @media-xs-sm {
					margin: 0 0 11px;
					border: 2px solid #fcda40;
					color: #fcda40!important;
					background: none!important;
				}
			}

			&:nth-child(3) { border-left: none;
				&:hover {
					background: #d4ae67;
					color: #682034;
				}

				@media @media-xs-sm {
					margin: 0 0 11px;
					border: 2px solid #8b2340;
					color: #8b2340!important;
					background: none!important;
				}
			}
			&:nth-child(1) {
				&:hover {
					background: #d4ae67;
					color: #682034;
				}

				@media @media-xs-sm {
					margin: 0 0 11px;
					border: 2px solid #008f4b;
					color:#008f4b!important;
					background: none!important;
				}
			}
		}
		&_age{
			display: flex;
			justify-content: center;
			align-items: center;
			a{
				font-family: 'Yanone Kaffeesatz';
				font-size: 28px;
				line-height: 1;
				font-weight: 400;
				color: @brown;
				letter-spacing: 0.86px;
				border:2px solid @brown;
				border-radius: 20px;
				padding: 2px 0 0;
				width: 150px;
				height: 40px;
				&:first-child{
					margin-right: 30px;
					&:hover {
						background: @brown;
						color: #fff;
					}

					@media @media-xs-sm {
						width: 120px;
						border: 2px solid @brown;
						color: @brown!important;
						background: none!important;
					}
				}
				&:nth-child(2){
					&:hover {
						background: @brown;
						color: #fff;
					}

					@media @media-xs-sm {
						width: 120px;
						border: 2px solid @brown;
						color: @brown!important;
						background: none!important;
					}
				}
			}
		}
	}

	&.is-age{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: url("../img/isAge-bg_2x.png") 0 0 no-repeat;
		background-size: cover;

		.page--title {
			line-height: 1;
			color: @brown;
			margin: 0 0 35px;
			@media @media-xs-sm {
				max-width: 200px;
			}
		}
	}
	&.is-error &, {
		&--title { text-transform: none; }
	}
	&-wrap{
		display: flex;
		height:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		&_hello-honey{
			.page-unit-content{
				&_hello-honey{
					left: 25.5vw;
					pointer-events: all;
					opacity: 1;
					transform: translateY(-60%);
				}
			}	
		}
		&_blonde{
			.page-unit-content{
				&_blonde{
					pointer-events: all;
					opacity: 1;
					transform: translateY(-60%);

					.content--logo { right: 60px;
						@media @media-lg {
							right: 140px;
						}
					}
				}
			}
		}
		&_ruby{
			.page-unit-content{
				&_ruby{
					pointer-events: all;
					opacity: 1;
					transform: translateY(-60%);

					.content--logo { right: 60px;
						@media @media-lg {
							right: 140px;
						}
					}
				}
			}
		}
		&-logo{
			z-index: 1;
			position: absolute;
			width:195px;
			top: 60px;
   			.transition(all,1.5s,ease);
			
			@media(max-height:850px) and (min-width:1024px){
				width:150px;
				top:30px;
			}
			img{
				width:100%;
			}
		}
	}

	&-unit{ position: relative;
		width:100%;
		height:100%;
		min-width: auto;
		.transition(1.5s,all,ease);
		
		
		&:not(.active){
			.page-unit-bottle{
				img{
					display: block;
					.transition(all,.3s,ease);
					cursor: pointer;
				}
			}
			&.page-unit_blonde{

				.page-unit-bottle{

					img{
						color:red!important;
						
						&:hover{
							.drop-shadow (#c95518);
						}
					}
				}
			}
			&.page-unit_ruby{

				.page-unit-bottle{
					img{
						.transition(all,.5s,ease);
						&:hover{
							.drop-shadow (#682034);
						}
					}
				}
			}
			&.page-unit_hello-honey{
				.page-unit-bottle{
					img{
						.transition(all,.5s,ease);
						&:hover{
							.drop-shadow (#6e171a;);
						}
					}
				}
			}
		}
		&.active{
			overflow:initial;
			width: 425%;
			background-position: left top;

			.page-unit-content{
				opacity: 1;
				transform: translateY(-60%);
				@media (min-width: 1100px) and (max-width: 1199px) {
					left: 27vw;
				}
				@media (min-width: 1200px) and (max-width: 1299px) {
					left: 29vw;
				}
				@media (min-width: 1300px) and (max-width: 1399px) {
					left: 30vw;
				}
				@media (min-width: 1400px) and (max-width: 1499px) {
					left: 31vw;
				}
				@media (min-width: 1500px) and (max-width: 1599px) {
					left: 32vw;
				}
				@media (min-width: 1600px) and (max-width: 1699px) {
					left: 26vw;
				}
				@media (min-width: 1700px) and (max-width: 1799px) {
					left: 27.5vw;
				}
				@media (min-width: 1800px) and (max-width: 1899px) {
					left: 28.5vw;
				}
				@media (min-width: 1900px) {
					left: 29.25vw;
				}
			}
			
			.page-unit-gb{
				left: 8.5vw;
				@media (min-width: 1100px) and (max-width: 1199px) {
					left: 10vw;
				}
				@media (min-width: 1200px) and (max-width: 1299px) {
					left: 11.2vw;
				}
				@media (min-width: 1300px) and (max-width: 1399px) {
					left: 12vw;
				}
				@media (min-width: 1400px) and (max-width: 1499px) {
					left: 13vw;
				}
				@media (min-width: 1500px) and (max-width: 1599px) {
					left: 14vw;
				}
				@media (min-width: 1600px) and (max-width: 1699px) {
					left: 10vw;
				}
				@media (min-width: 1700px) and (max-width: 1799px) {
					left: 11vw;
				}
				@media (min-width: 1800px) and (max-width: 1899px) {
					left: 12.5vw;
				}
				@media (min-width: 1900px) {
					left: 12.25vw;
				}
			}
			.page-unit-glass{
				left: 10px;
				opacity: 1;
			}

			.page-unit-newTag{
				transform:none;
				opacity: 1;
			}
			.info{
				opacity: 1;
				pointer-events: all;
				.transition (1s all ease 1.4s);
			}
		}
		&_hello-honey{
			background: url('../img/bg_hello_honey_2x.png') left center no-repeat;
			background-size: cover;
			z-index: 3;
			.info{
				.info--circle{
					cursor: pointer;
					@include transition(.3s);
					background-color: #004d71;
					&:hover{
						background-color: #32708d;
					}
					&:active{
						background-color: #004565;
					}
				}
			}
		}

		&_blonde{
			background: url('../img/bg_blonde_2x.png') left center no-repeat;
			background-size: cover;
			z-index: 2;
			.page-unit-glass{
				height: 310px;
				transform: translateY(-40%);
				@media @media-lg {
						height: 387px;
					}
			}
			.info{
				&.is-l1{
					top: 39%;
				}
				&.is-l2{
					top: 54%;
					left: 63%;
					.info--box { top: -50px; }
				}
				.info--circle{
					cursor: pointer;
					@include transition(.3s);
					background-color: #dd2838;
					&:hover{
						background-color: #e3525f;
					}
					&:active{
						background-color: #c62432;
					}
				}
			}
			&.active{
				.page-unit-gb{
					@media (min-width: 1100px) and (max-width: 1199px) {
						left: 9.5vw;
					}
					@media (min-width: 1200px) and (max-width: 1299px) {
						left: 11vw;
					}
					@media (min-width: 1300px) and (max-width: 1399px) {
						left: 12vw;
					}
					@media (min-width: 1400px) and (max-width: 1499px) {
						left: 13vw;
					}
					@media (min-width: 1500px) and (max-width: 1599px) {
						left: 14vw;
					}
					@media (min-width: 1600px) and (max-width: 1699px) {
						left: 9.5vw;
					}
					@media (min-width: 1700px) and (max-width: 1799px) {
						left: 10.5vw;
					}
					@media (min-width: 1800px) and (max-width: 1899px) {
						left: 11.5vw;
					}
					@media (min-width: 1900px) {
						left: 12.5vw;
					}
				}
				.page-unit-glass{
					left: -8.5%;
				}
			}
		}

		&_ruby{
			background: url('../img/bg_ruby_2x.png') left center no-repeat;
			background-size: cover;
			z-index: 1;
			.page-unit-photo{
				transform:translateX(30%);
			}
			.info{
				&.is-l2{
					top: 47%;
					left: 68%;
					.info--box { top: -40px; }
				}

				.info--circle{
					cursor: pointer;
					@include transition(.3s);
					background-color: #188455;
					&:hover{
						background-color: #469c76;
					}
					&:active{
						background-color: #15764c;
					}
				}
			}
			.page-unit-glass{
				height: 350px;
				transform: translateY(-48%);
				@media @media-lg {
					height: 437px;
				}
			}
			.page-unit-bottle{
				.transition(all,1.5s,ease);
			}

			&.active{
				.page-unit-gb{
					@media (min-width: 1100px) and (max-width: 1199px) {
						left: 9vw;
					}
					@media (min-width: 1200px) and (max-width: 1299px) {
						left: 10.75vw;
					}
					@media (min-width: 1300px) and (max-width: 1399px) {
						left: 11.5vw;
					}
					@media (min-width: 1400px) and (max-width: 1499px) {
						left: 12.25vw;
					}
					@media (min-width: 1500px) and (max-width: 1599px) {
						left: 13.25vw;
					}
					@media (min-width: 1600px) and (max-width: 1699px) {
						left: 9vw;
					}
					@media (min-width: 1700px) and (max-width: 1799px) {
						left: 9.75vw;
					}
					@media (min-width: 1800px) and (max-width: 1899px) {
						left: 10.75vw;
					}
					@media (min-width: 1900px) {
						left: 11.75vw;
					}
				}
				.page-unit-glass{
					left: -10%;
					opacity: 1;
				}
			}
		}

		&-images{
			position: absolute;
			position: relative;
		}

		&-photo{
			opacity: 0;
			transform:translateX(-30%);
			.transition(all,1.5s,ease);
		}

		&-content{
			pointer-events: none;
			top: 50%;
			position: absolute;
			left: 40.85vw;
			width:400px;
			opacity: 0;
			transition: opacity 0.3s ease, transform 1.5s ease;
			transform: translateY(-30%);
			z-index: 1;
			@media @media-lg {
				left: 27vw;
				width: 600px;
			}
			&_blonde{
				left: 26vw;
			}
			&_ruby{
				left: 27vw;
			}
		}

		&-gb{ .size(203px, 363px); 
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-28.5%, -50%);
			.transition(all,1.5s,ease);
			z-index: 2;
			@media @media-lg { .size(254px, 454px); }
		}

		&-glass{
			position: absolute;
			top: 50%;
   		left: -300px;
			opacity: 0;
			height: 260px;
			transform: translateY(-35%);
			.transition(all,1.5s,ease);
			z-index: 1;
			@media @media-lg {
				height: 325px;
			}
			img{
				width:auto;
				height:100%;
			}
		}

		&-bottle{
			.transition(all,1.5s,ease);
			position: absolute;
			top: 0;
   		left: 0;
			height: 363px;
			z-index: 2;
			@media @media-lg {
				height: 454px;
			}

			img{ width:auto;
				height: 100%;
			}
		}
		&-newTag{
			width: 87px;
			left: 72px;
			bottom: -30px;
			transform:translateY(100%);
			position: absolute;
			z-index: 2;
			.transition(all,1.5s,ease);
			opacity: 0;
			@media @media-lg {
				width: 109px;
				left: 92px;
				bottom: -36px;
			}
			img{
				width: 100%;
			}
		}

	}
}

.greeting{
	&-popup{
		background-color: rgba(0,0,0,0.6);
		z-index: 101;
		position: fixed;
		top:0;
		bottom:0;
		left:0;
		right:0;
		max-height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 0;
		visibility: hidden;
		text-align: center;
		pointer-events: none;
		.transition(all,.5s,ease);
		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
		}
		&.active{
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
		&-body{
			display: inline-block;
			vertical-align: middle;
			padding: 60px 40px 50px;
			color: #41201f;
			width: 90%;
			max-width: 480px;
			position: relative;
			border-radius: 25px;
			background-color: #fff9f0;
			box-shadow: 0 0 49px rgba(65, 32, 32, 0.5);
			@media(max-width:472px){
				padding: 40px 30px 30px;
			}
		}
		&-title{
			font-family: 'Yanone Kaffeesatz Bold';
			line-height: 1;
			font-size: 40px;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 34px;
			
			img{
				max-width: 175px;
			}
			@media(max-width:472px){
				margin-bottom: 15px;
				font-size: 28px;
			}
			
		}
		&-text{
			font-family: 'Yanone Kaffeesatz';
			text-align:center;
			font-size: 22px;
			margin-bottom: 34px;
			line-height: 26px;
			color: @brown;
			@media(max-width:472px){
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 20px;
			}
		}
		&-button{
			width: 140px;
			height: 40px;
			border-radius: 20px;
			background-color: #f4dbb7;
			font-family: 'Yanone Kaffeesatz';
			font-size: 28px;
			line-height: 1;
			color: @brown;
			text-align: center;
			letter-spacing: 0.86px;
			padding: 3px 0 0;
			margin: 0 auto;
			cursor: pointer;
			.transition(all,.3s,ease);
			@media(max-width:472px){
				font-size: 24px;
				padding-top: 6px;
			}
			&:hover{
				background-color: @brown;
				color: #fff;
			}
			&:active{
				background-color: #911b20;
			}
		}
	}
}

.socials { z-index: 100;
	.position (absolute, 15px, 25px);
	.font (0);

	a {
		color: #fff;
		text-decoration: none;
		.display (inline-block);
		.transition (300ms all ease);
		margin-right: 20px;
		&:last-child { margin-right: 0; }

		@media @media-lg { margin-right: 25px; }

		i {
			.display (block);
			.font (20px, 40px);

			&.icon-vkontakte { .font (14px, 40px); }

			@media @media-lg { .font (25px, 50px);
				&.icon-vkontakte { .font (17px, 50px); }
			}
		}
	}
	&.brown {
		a { color: @brown; }
	}
}

.left-side,
.right-side {
	overflow: hidden;
	will-change: width;

	.size (50vw);
	.transition (1.5s all ease);

	&--shadow { background: left top repeat-x;
		.position (absolute, 67%, 0, 0, 0);
	}

	&--photo { will-change: opacity, transform;
		.position (absolute, 0, 0, 0, 0);
		.transition (1.5s all ease);
	}

	&--gradient { background: url(../img/side--gradient.png) left top repeat-x;
		.position (absolute, 0, 0, 0, 0);
	}

	&--beer {
		.transition (1.5s all ease);

		img {
			.display (block);
			.size (auto, 100%);
			.transition (300ms all ease);
		}
	}

	&--glass {
		.transition (1.5s all ease);

		img {
			.display (block);
			.size (auto, 100%);
		}
	}

	&--content {
		opacity: 0;
		will-change: opacity, transform;
		color: @white;
		pointer-events: none;

		.transform (translate(0, 100px));
		.transition (1.5s all ease);
		.size (44vw);
		.max-size (600px);
	}
}
.hello-honey-side{
	&--photo{
		z-index: 0;
		will-change: opacity, transform;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    -webkit-transition: 1.5s all ease;
	    -moz-transition: 1.5s all ease;
	    -o-transition: 1.5s all ease;
	    transition: 1.5s all ease;
		background: url(../img/hello-honey-side--photo.png) left top no-repeat;
		background-size: auto 87.129629%;

	}
}
.left-side { background: #c95518;
	.position (absolute, 0, auto, 0, 0);

	&--shadow { background-image: url(../img/left-side--shadow.png); }
	&--photo {
		background: url(../img/left-side--photo.png) left top no-repeat;
		background-size: auto 87.129629%;
	}

	&--beer { will-change: right;
		.position (absolute, 11%, 27vw);
		.size (auto, 84%);
	}

	&--glass { will-change: right;
		.position (absolute, 25%, 19vw);
		.size (auto, 57%);
	}

	&--content {
		.position (absolute, 230px, auto, 0, 36vw);
	}
}

.right-side { background: #682034;
	.position (absolute, 0, 0, 0);

	&--shadow { background-image: url(../img/right-side--shadow.png); }
	&--photo {
		background: url(../img/right-side--photo.png) right top no-repeat;
		background-size: auto 84.907407%;
	}

	&--beer { will-change: left;
		.position-tl (absolute, 11%, 25vw);
		.size (auto, 85%);
	}

	&--glass { will-change: left;
		.position-tl (absolute, 18%, 16vw);
		.size (auto, 84%);
	}

	&--content {
		.position (absolute, 230px, auto, 0, 20vw);
	}
}



.content { font-family: 'Yanone Kaffeesatz';
	color: @brown;
	&--title {
		font-family: 'Yanone Kaffeesatz Bold';
		font-size: 40px;
		line-height: 1;
		text-transform: uppercase;
		margin: 0 0 30px;
		@media @media-lg {
			font-size: 50px;
			margin-bottom: 37px;
		}
	}

	&--logo {
		width: 155px;
		position: absolute;
		top: -25px;
		right: 55px;
		@media @media-lg {
			width: 194px;
			top: -30px;
			right: 120px;
		}
		@media @media-xs-sm { display: none; }

		img { display: block;
			width: 100%; }
	}

	&--text { margin: 0 0 20px;
		.font (22px, 1.18);
		letter-spacing: 0.27px;
		@media @media-lg {
			font-size: 28px;
			margin-bottom: 25px;
		}
	}

	&--counters { display: flex; }

	&--counter {
		font-family: 'Yanone Kaffeesatz Bold';
		.font (20px, 1);
		margin-bottom: 20px;
		padding-right: 50px;
		&:last-child{
			padding-right: 0;
		}
		@media @media-lg {
			font-size: 25px;
			margin-bottom: 25px;
		}
		span { padding: 10px 0 0;
			.display (block);
			font-family: 'Roboto Slab';
			.font (32px, 1, 700);
			text-transform: uppercase;
			@media @media-lg {
				font-size: 40px;
			}
			span{
				display: inline;
				font-size: 22px;
			}
		}
	}

	&--desc {
		.font (18px, 1.22, 400, 'Yanone Kaffeesatz');
		letter-spacing: 0.18px;
		@media @media-lg {
			font-size: 23px;
		}

		p { margin: 0 0 10px;
			&:last-of-type { margin: 0; }
		}
	}
	&-tag{
		margin-left: -18px;
		margin-bottom: 15px;
		text-align: center;
		padding-right: 0px;
		background-color: #e61c2e;
		position: relative;
		height:54px;
		width:calc(~"100% - 27px");
		font-size: 24px;
		line-height: 54px;
		font-family: 'Roboto Slab', arial, sans-serif;

		&:before{
			position:absolute;
			top:0;
			left:100%;
			content:"";
			border-right:23px solid transparent;
			border-top:27px solid #e61c2e;
			border-bottom:27px solid #e61c2e;
		}
	}
}

.info {
	pointer-events: none;
	opacity: 0;
	z-index: 100;

	//.transition (1.5s all ease);

	&--circle {
		border: 4px solid @white;
		border-radius: 100%;
		z-index: 2;

		.position (relative);
		.size (28px, 28px);
		.transition (300ms all ease);
		@media @media-lg {
			.size (34px, 34px);
		}
	}

	&--box {
		overflow: hidden;
		background-color: #fff9f0;
		box-shadow: 0 0 49px rgba(65, 32, 32, 0.5);
		border-radius: 25px;
		z-index: 1;
		padding: 25px 115px 25px 25px;
		opacity: 0;
		pointer-events: none;
		position: relative;
		.transition(all,.5s,ease);
		&.active{
			opacity: 1;
			pointer-events: all;
			z-index: 2;
		}
		
		.position-tl (absolute, -3px, -3px);
		.min-size (initial, 248px);
		.size (500px);

		&.is-fw { padding-right: 60px;
			padding-bottom: 33px;
			.min-size (initial);
			.info--text { letter-spacing: .3px;
				img { margin-top: 25px; }
			}
		}
		&--close{
			cursor: pointer;
			position: absolute;
			top: 20px;
			right: 20px;
			border-radius: 100%;
			width: 34px;
			height: 34px;
			&::before {
				content: '';
				display: block;
				width: 12px;
				height: 13px;
				background: url('../img/icons/icon-close.png') center center no-repeat;
				background-size: contain;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-46%, -50%);
				z-index: 1;
			}
			&.round-hh {
				background-color: #fac589;
			}
			&.round-blonde {
				background-color: #fcda40;
			}
			&.round-ruby {
				background-color: #f4dbb7;
			}
		}
	}

	&--photo { .position-tl (absolute, 0, 0);
		&.is-men {
			.size (123px);
			.position (absolute, auto, -12px, -6px, auto);
			&::before {
				content: '';
				display: block;
				width: 160px;
				height: 160px;
				border-radius: 100%;
				
				position: absolute;
				right: -5px;
				bottom: -15px;
				z-index: 0;
			}
			&.round-hh {
				&::before { background-color: #fac589; }
			}
			&.round-blonde {
				&::before { background-color: #fcda40; }
			}
			&.round-ruby {
				&::before { background-color: #f4dbb7; }
			}
			img {
				position: relative;
				.display (block);
				.size (100%);
				z-index: 1;
			}
		}
	}

	&--text { color: @brown;
		position: relative;
		.font (18px, 22px, 400, 'Yanone Kaffeesatz');
		letter-spacing: 0.54px;
		z-index: 1;
		img{
			margin-top: 12px;
			height:auto;
			width:100%;
		}
		p { margin: 0 0 20px;
			&:last-of-type { margin: 0; }
		}
	}

	&.is-l1 { .position-tl (absolute, 37%, 22%); z-index: 101; }
	&.is-l2 { .position-tl (absolute, 37%, 66%); }
	&.is-r1 { .position-tl (absolute, 54%, 55%); }
	&.is-r2 { .position-tl (absolute, 36%, 37%); }

	
}

.warning { z-index: 5;
	.position (absolute, auto, auto, 6px, 50%);
	.transform (translate(-50%, 0));
	.size (~'calc(100% - 32px)');
	//.max-size (1280px);
	opacity: 0.5;
	@media @media-xs-only {
		opacity:0.5;
		.position (fixed, auto, 5px, 15px, 5px);
		.size (auto);
		.transform (none);
	}

	@media @media-sm-only {
		opacity:0.5;
		.position (fixed, auto, auto, 30px, 50%);
		// .transform (none);
		// .size (630px);
	}


	&--in {	
		padding: 10% 0 0;
		background: url(../img/disclaimer.svg) center bottom no-repeat;
		background-size: 100% auto;
	}
}

// --------

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg	 { .display (none); }

@media @media-xs-only {
	.visible-xs { .display (block); }
	.hidden-xs { .display (none)!important; }
}

@media @media-sm-only {
	.visible-sm { .display (block); }
	.hidden-sm { .display (none)!important; }
}

@media @media-md-only {
	.visible-md { .display (block); }
	.hidden-md { .display (none)!important; }
}

@media @media-lg {
	.visible-lg { .display (block); }
	.hidden-lg { .display (none)!important; }
}