doctype html
html
	head
		meta(charset="utf-8")
		title ПIВА З АДМЕТНЫМ ХАРАКТАРАМ

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		meta(property="og:title" content="Karol Jan")
		meta(property="og:url" content="/")
		meta(property="og:image" content="img/og.png")

		link(rel="stylesheet" type="text/css" href="xs-assets/css/style.css")

		script(type="text/javascript" src="xs-assets/js/jquery-1.11.1.min.js")

		script(type="text/javascript" src="xs-assets/js/jquery.fullpage.js")

		script(type="text/javascript" src="xs-assets/js/jquery.touchSwipe.min.js")

		script(type="text/javascript" src="xs-assets/js/scripts.js")

	body
		.rotatepage: span Для просмотра переверните устройство
		.movepage: span Лістайце экраны
		.warning: img(src="xs-assets/img/warning.svg" alt="")
		.unp УНП 100128525, ООО "Пивзавод Оливария
		.page
			.vertical-slide: .intro
				.logotype: img(src="xs-assets/img/logotype.svg" alt="")

				.socials
					a(href="https://twitter.com/alivaria"): i.icon-twitter
					a(href="https://facebook.com/Alivaria"): i.icon-facebook
					a(href="https://vk.com/club_alivaria"): i.icon-vkontakte

				.title Пiва з адметным характарам
				.intro-slider(id="intro-slider")
					.intro-slider-title Karol Jan ruby
					.intro-slider-controls
						.intro-slider-controls-unit.prev
						.intro-slider-controls-unit.next
					.intro-slider-wrap
						.intro-slider-unit(data-position='1').blonde
							img(src="xs-assets/img/content--photo-blonde-b.png" alt="")
						.intro-slider-unit(data-position='2').active.ruby
							img(src="xs-assets/img/content--photo-ruby-b.png" alt="")
						.intro-slider-unit(data-position='3').dunkel
							img(src="xs-assets/img/content--photo-dunkel-b.png" alt="")
				
				

			.vertical-slide.is-ruby
				.horizontal-slide: .content
					.content--title Karol Jan Blonde
					.content--info
						.content--counters
							.content--counter Шчыльнасць#[span 14,0%]
							.content--counter Алк. не менш за#[span 5,9%]
							.content--counter Горыч:#[span 16 IBU]

						.content--photos(style="background-image: url(xs-assets/img/content--photos-ruby.png)")

				.horizontal-slide: .content
					.content--title Karol Jan Blonde
					.content--in
						.content--text
							.content--text-intro Karol Jan Blonde — гэта светлае піва ў бельгійскім стылі, мяккае ды шчыльнае. Валодае прыгожым ясна-залацістым колерам. Цела высокашчыльнае ды акруглае.
							.content--text-base
								p Смак піва сухі і насычаны, з ноткамі вострых прыпраў. У смаку прысутнічае мяккая прыемная хмелевая горыч і інтэнсіўны саладкаваты посмак. Пераважаюць тонкі соладавы і кветкава-фруктовы водары.
								p Гатунак валодае павышанай пенастойкасцю: пена дробназярністая, шапка белага колеру, высокая ды шчыльная. Вырабляецца са светлага соладу і некалькіх гатункаў нямецкага хмелю.

						.content--photo: img(src="xs-assets/img/content--photo-ruby-b.png" alt="")

				.horizontal-slide: .content
					.content--title Karol Jan Blonde
					.content--in
						.content--text
							.content--text-intro Падавайце Karol Jan Blondе пры тэмпературы 6° — 8°C у куфлі тыпу «цюльпан». Гэты гатунак ідэальна спалучаецца з лёгкімі закускамі: куранём, смажанымі каўбаскамі, лістамі салаты, ласосем, паўцвёрдым сырам.
							.content--text-images: img(src="xs-assets/img/content--text-images-r.png" alt="")
							.content--text-base
								p Да Karol Jan Blondе будуць таксама пасаваць дэсерты: лёгкі абрыкосавы альбо мандарынавы пірог, лімонны тарт з заварным крэмам.

						.content--photo: div(style="margin: 0 -20%"): img(src="xs-assets/img/content--photo-ruby-g.png" alt="")

				.horizontal-slide: .content
					.content--title Караль Ян Чапскі
					.content--in.is-alt
						.content--photo: img(src="xs-assets/img/content--photo-m.png" alt="")
						.content--text
							.content--text-intro Ка́раль Ян Чапскі быў не проста мэрам горада Мінску, які пабудаваў першую гідраэлектрастанцыю ды адчыніў публічную бібліятэку.
							.content--text-base
								p Ён быў сапраўды адментым чалавекам, які напоўніў горад духам наватраства і паспрыяў таму, што ён стаў такім, якім мы яго ведаем цяпер, — сапраўднай еўрапейскай сталіцай з вялікай душой.
								p Такія адметныя людзі, як Чапскі, ніколі не спыняюцца і заўсёды прагнуць усяго новага і лепшага. Таму, мы, паслядоўнікі Чапскага, зварылі асаблівае еўрапейскае піва з адметным духам. І калі прыйшоў час адбіраць яму імя, у нас не было ніякіх сумненняў.
			.vertical-slide.is-blonde
				.horizontal-slide: .content
					.content--title Karol Jan Blonde
					.content--info
						.content--counters
							.content--counter Шчыльнасць#[span 14,0%]
							.content--counter Алк. не менш за#[span 5,9%]
							.content--counter Горыч:#[span 16 IBU]

						.content--photos(style="background-image: url(xs-assets/img/content--photos-blonde.png)")

				.horizontal-slide: .content
					.content--title Karol Jan Blonde
					.content--in
						.content--text
							.content--text-intro Karol Jan Blonde — гэта светлае піва ў бельгійскім стылі, мяккае ды шчыльнае. Валодае прыгожым ясна-залацістым колерам. Цела высокашчыльнае ды акруглае.
							.content--text-base
								p Смак піва сухі і насычаны, з ноткамі вострых прыпраў. У смаку прысутнічае мяккая прыемная хмелевая горыч і інтэнсіўны саладкаваты посмак. Пераважаюць тонкі соладавы і кветкава-фруктовы водары.
								p Гатунак валодае павышанай пенастойкасцю: пена дробназярністая, шапка белага колеру, высокая ды шчыльная. Вырабляецца са светлага соладу і некалькіх гатункаў нямецкага хмелю.

						.content--photo: img(src="xs-assets/img/content--photo-blonde-b.png" alt="")

				.horizontal-slide: .content
					.content--title Karol Jan Blonde
					.content--in
						.content--text
							.content--text-intro Падавайце Karol Jan Blondе пры тэмпературы 6° — 8°C у куфлі тыпу «цюльпан». Гэты гатунак ідэальна спалучаецца з лёгкімі закускамі: куранём, смажанымі каўбаскамі, лістамі салаты, ласосем, паўцвёрдым сырам.
							.content--text-images: img(src="xs-assets/img/content--text-images-b.png" alt="")
							.content--text-base
								p Да Karol Jan Blondе будуць таксама пасаваць дэсерты: лёгкі абрыкосавы альбо мандарынавы пірог, лімонны тарт з заварным крэмам.

						.content--photo: img(src="xs-assets/img/content--photo-blonde-g.png" alt="")

				.horizontal-slide: .content
					.content--title Караль Ян Чапскі
					.content--in.is-alt
						.content--photo: img(src="xs-assets/img/content--photo-m.png" alt="")
						.content--text
							.content--text-intro Ка́раль Ян Чапскі быў не проста мэрам горада Мінску, які пабудаваў першую гідраэлектрастанцыю ды адчыніў публічную бібліятэку.
							.content--text-base
								p Ён быў сапраўды адментым чалавекам, які напоўніў горад духам наватраства і паспрыяў таму, што ён стаў такім, якім мы яго ведаем цяпер, — сапраўднай еўрапейскай сталіцай з вялікай душой.
								p Такія адметныя людзі, як Чапскі, ніколі не спыняюцца і заўсёды прагнуць усяго новага і лепшага. Таму, мы, паслядоўнікі Чапскага, зварылі асаблівае еўрапейскае піва з адметным духам. І калі прыйшоў час адбіраць яму імя, у нас не было ніякіх сумненняў.

			.vertical-slide.is-dunkel
				.horizontal-slide: .content
					.content--title Karol Jan Dunkel
					.content--info
						.content--counters
							.content--counter Шчыльнасць#[span 12,0%]
							.content--counter Алк. не менш за#[span 4,5%]
							.content--counter Горыч:#[span 16 IBU]
						.content--photos(style="background-image: url(xs-assets/img/content--photos-dunkel.png)")

				.horizontal-slide: .content
					.content--title Karol Jan Dunkel
					.content--in
						.content--text
							.content--text-intro Karol Jan Dunkel — цёмнае традыцыйнае нямецкае піва з насычаным соладавым смакам, ледзь прыкметнай горыччу, сухім акруглым заканчэннем.
							.content--text-base
								p Валодае глыбокім ясна-каштанавым колерам з адлівам медзі. У поўным смаку гэтага піва прысутнічаюць водары падсмажанага хлеба з маслам, якія плаўна пераходзяць у ноткі карамелі ды завяршаюцца тонкім водарам інжыру. Цела піва лёгкае, пена прыемнага крэмавага адцення.
								p Вырабляецца з дадаваннем карамельнага соладу Ebenholz з самага сэрца Баварыі, які надае піву шыкоўны насычаны колер.

						.content--photo: img(src="xs-assets/img/content--photo-dunkel-b.png" alt="")

				.horizontal-slide: .content
					.content--title Karol Jan Dunkel
					.content--in
						.content--text
							.content--text-intro Karol Jan Dunkel трэба падаваць у куфлі формы «рупар» пры тэмпературы 8° — 10°C. Да гэтага гатунку будзе пасаваць сытная ежа з вострым смакам: барбекю, закускі са спецыямі, сасіскі, смажанае мяса, мяккія сыры з інтэнсіўным смакам ды водарам.
							.content--text-images: img(src="xs-assets/img/content--text-images-d.png" alt="")
							.content--text-base
								p На дэсерт прапануецца гранатавы тарт з грэцкімі арэхамі, грушавы пірог з цукатамі.

						.content--photo: div(style="margin: 0 -20%"): img(src="xs-assets/img/content--photo-dunkel-g.png" alt="")

				.horizontal-slide: .content
					.content--title Караль Ян Чапскі
					.content--in.is-alt
						.content--photo: img(src="xs-assets/img/content--photo-m.png" alt="")
						.content--text
							.content--text-intro Ка́раль Ян Чапскі быў не проста мэрам горада Мінску, які пабудаваў першую гідраэлектрастанцыю ды адчыніў публічную бібліятэку.
							.content--text-base
								p Ён быў сапраўды адментым чалавекам, які напоўніў горад духам наватраства і паспрыяў таму, што ён стаў такім, якім мы яго ведаем цяпер, — сапраўднай еўрапейскай сталіцай з вялікай душой.
								p Такія адметныя людзі, як Чапскі, ніколі не спыняюцца і заўсёды прагнуць усяго новага і лепшага. Таму, мы, паслядоўнікі Чапскага, зварылі асаблівае еўрапейскае піва з адметным духам. І калі прыйшоў час адбіраць яму імя, у нас не было ніякіх сумненняў.

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-97815410-1', 'auto');
			 ga('send', 'pageview');