@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wcyyjs');
  src:  url('fonts/icomoon.eot?wcyyjs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wcyyjs') format('truetype'),
    url('fonts/icomoon.woff?wcyyjs') format('woff'),
    url('fonts/icomoon.svg?wcyyjs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bigarrow:before {
  content: "\e905";
  color: #eebe63;
}
.icon-right:before {
  content: "\e903";
  color: #eebe63;
}
.icon-left:before {
  content: "\e904";
  color: #eebe63;
}
.icon-vkontakte:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\ea92";
}
